@use "../../../../assets/styles/index.scss";

.king {
  border-radius: 10px;
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  padding: 20px;
  text-align: center;
  transition: 0.2s ease-in-out;
  background: index.$btn_color_positive;

  &:hover {
    background: index.$btn_hover_positive;
  }

  span {
    margin-left: 10px;
  }

  select {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0;

    option {
      font-size: 1.1em;
    }
  }
}
