@use "../../../assets/styles/index.scss";

.king {
  width: 100%;
  border-width: 0 0 0 8px;
  border-style: solid;
  border-radius: 3px 10px 10px 3px;
  padding: 23px;
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;

  .checkboxInputContainer {
    input {
      cursor: pointer;
    }
  }

  .taskInfoContainer {
    .taskName {
      margin-bottom: 10px;
      font-size: 1.1em;
      width: 350px;
      line-height: 1.4;
    }

    .taskDate {
      font-size: 0.9em;
      color: rgba(255, 255, 255, 0.482);
    }
  }

  .starAndBasketBtnContainer {
    position: absolute;
    top: 0px;
    right: 25px;
    display: flex;
    gap: 20px;
    align-items: flex-start;

    .trashBtn,
    .starBtn {
      font-size: 1.1em;
      padding: 8px 15px;
      border-width: 0px 3px 3px 3px;
      border-style: solid;
      border-end-start-radius: 10px;
      border-end-end-radius: 10px;
      background: none;
      transition: 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        padding: 13px 15px;
      }
    }

    #turnedOnStar {
      padding: 18px 15px;
      background-color: rgba(51, 139, 246, 0.107);
    }
  }
}

// light mode
#lightMode {
  background-color: index.$lightMode_TasksBox_color;
  border-color: index.$lightMode_border_color;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);

  .taskInfoContainer {
    .taskDate {
      color: rgba(0, 0, 0, 0.482);
    }
  }

  .starAndBasketBtnContainer {
    .trashBtn,
    .starBtn {
      border-color: index.$lightMode_border_color;
      color: index.$lightMode_text_color;
    }

    .starBtn {
      &:hover {
        color: index.$blue_color;
        border-color: index.$blue_color;
      }
    }

    #turnedOnStar {
      color: index.$blue_color;
      border-color: index.$blue_color;
    }

    .trashBtn {
      &:hover {
        color: index.$red_error_color;
        border-color: index.$red_error_color;
      }
    }
  }
}

// dark mode
#darkMode {
  background-color: index.$darkMode_TasksBox_color;
  border-color: index.$darkMode_border_color;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);

  .taskInfoContainer {
    .taskDate {
      color: rgba(255, 255, 255, 0.482);
    }
  }

  .starAndBasketBtnContainer {
    .trashBtn,
    .starBtn {
      border-color: index.$darkMode_border_color;
      color: index.$darkMode_text_color;
    }

    .starBtn {
      &:hover {
        color: index.$blue_color;
        border-color: index.$blue_color;
      }
    }

    #turnedOnStar {
      color: index.$blue_color;
      border-color: index.$blue_color;
    }

    .trashBtn {
      &:hover {
        color: index.$red_error_color;
        border-color: index.$red_error_color;
      }
    }
  }
}

@import "./smBreakPoint";
