.usernamePart {
  padding: 20px 10px;
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
  overflow-x: auto;

  .userIcon {
    font-size: 2.3em;
  }

  .username {
    font-size: 1.1em;
    font-weight: bold;
  }
}
