@use "../../assets/styles/index.scss";

.king {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  backdrop-filter: index.$modal_blur;
  display: flex;
  justify-content: center;
  align-items: center;

  .taskForm {
    padding: 30px;
    border-width: 1px;
    border-style: solid;
    width: 320px;
    position: relative;
    border-radius: 10px;

    .inputsAndSelectContainer {
      margin-bottom: 35px;

      input,
      .selectContainer select {
        padding: 8px;
        border-radius: 10px;
        border-width: 1px;
        border-style: solid;

        &:focus {
          outline: 2px solid index.$input_focus_color;
        }
      }

      .inputsLabel {
        display: block;
        margin-bottom: 10px;
      }

      input {
        width: 100%;
      }

      input[type="date"] {
        cursor: text;
      }

      .selectContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        label {
          flex: 3;
        }

        select {
          flex: 1;
          text-align: center;
          cursor: pointer;
        }
      }
    }

    .btnsContainer {
      display: flex;
      justify-content: center;
      margin-top: 35px;

      button {
        padding: 10px;
        border-radius: 10px;
        border: 0px;
        color: index.$darkMode_text_color;
        cursor: pointer;

        &:active {
          opacity: 0.8;
        }
      }

      .addBtn {
        width: 150px;
        background: index.$btn_color_positive;
        transition: width 0.2s ease-in-out;

        &:hover {
          background: index.$btn_hover_positive;
          width: 175px;
        }
      }

      .editingBtnsContainer {
        display: flex;
        align-items: end;
        justify-content: space-evenly;
        width: 100%;

        .confirmBtn,
        .cancelEditBtn,
        .resetEditBtn {
          width: 75px;

          &:disabled {
            opacity: 0.3;
            cursor: default;
          }
        }

        .confirmBtn {
          background: index.$btn_color_positive;
          &:hover {
            background: index.$btn_hover_positive;
          }

          &:disabled {
            &:hover {
              background: index.$btn_color_positive;
            }
          }
        }

        .cancelEditBtn {
          background: index.$btn_color_negative;

          &:hover {
            background: index.$btn_hover_negative;
          }

          &:disabled {
            &:hover {
              background: index.$btn_color_negative;
            }
          }
        }
      }
    }

    .cancelBtn {
      position: absolute;
      top: -25.2px;
      right: 20px;

      button {
        font-size: 1em;
        background: none;
        color: index.$red_error_color;
        border: 0px;
        border-width: 1px;
        border-style: solid;
        padding: 3px 40px;
        border-bottom: 0px;
        border-radius: 10px 10px 0px 0px;
        cursor: pointer;
        transition: 0.1s ease-in-out;

        &:hover {
          border-color: index.$red_error_color;
          background-color: rgba(204, 6, 6, 0.059);
          border-radius: 5px 5px 0px 0px;
        }
      }
    }
  }
}

// light mode
#lightMode {
  .taskForm {
    background-color: index.$lightMode_main_bg_color;
    border-color: index.$lightMode_border_color;

    .inputsAndSelectContainer {
      input,
      .selectContainer select {
        background-color: index.$lightMode_part_bg_color;
        border-color: index.$lightMode_border_color;
        color: index.$lightMode_text_color;
      }
    }

    .btnsContainer {
      .editingBtnsContainer {
        .resetEditBtn {
          background: index.$lightMode_btn_color_neutral;

          &:hover {
            background: index.$lightMode_btn_hover_neutral;
          }
        }
      }
    }

    .cancelBtn {
      button {
        border-color: index.$lightMode_border_color;
      }
    }
  }
}

// dark mode
#darkMode {
  .taskForm {
    background-color: index.$darkMode_main_bg_color;
    border-color: index.$darkMode_border_color;

    .inputsAndSelectContainer {
      input,
      .selectContainer select {
        background-color: index.$darkMode_part_bg_color;
        border-color: index.$darkMode_border_color;
        color: index.$darkMode_text_color;
      }
    }

    .btnsContainer {
      .editingBtnsContainer {
        .resetEditBtn {
          background: index.$darkMode_btn_color_neutral;

          &:hover {
            background: index.$darkMode_btn_hover_neutral;
          }
        }
      }
    }

    .cancelBtn {
      button {
        border-color: index.$darkMode_border_color;
      }
    }
  }
}
