@use "../../../../assets/styles/index.scss";

.king {
  padding: 12px;
  background: index.$btn_color;
  border: 0;
  color: index.$darkMode_text_color;
  width: 70%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: width 0.4s ease-in-out;
  font-size: 1em;

  &:hover {
    width: 75%;
    border-radius: 10px;
    background: index.$btn_hover;
  }

  span {
    margin-right: 10px;
  }
}
