@use "../../assets/styles/index.scss";

.king {
  background-color: index.$darkMode_main_bg_color;
  color: index.$darkMode_text_color;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
