$sidebarWidth: 250px;

@media (max-width: 950px) {
  .king {
    position: relative;

    .sidebarPart {
      width: 0px;
      position: absolute;
      height: 100%;
      top: 0px;
      left: 0px;
      z-index: 999;
      backdrop-filter: blur(50px);

      &.open {
        width: $sidebarWidth;
      }
    }

    .sidebarToggleBtn {
      display: block;

      &.open {
        left: $sidebarWidth;
      }
    }

    .headerAndOutletPart {
      width: 100%;
    }

    .headerAndOutletPart {
      .outletPart {
        padding: 20px 5px;
      }
    }
  }
}
