@use "../../../assets/styles/index.scss";

$headerHeight: 35vh;

.king {
  display: flex;
  overflow: hidden;
  height: 100vh;
  position: relative;

  .sidebarPart {
    border-right-width: 1px;
    border-right-style: solid;
    overflow-y: auto;
    width: 307px;
    transition: width 0.5s ease-in-out;
  }

  .sidebarToggleBtn {
    position: absolute;
    left: 0px;
    z-index: 999;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    transition: left 0.5s ease-in-out;

    button {
      cursor: pointer;
      border: 0px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      padding: 10px;
      height: 200px;
      font-size: 1.2em;
      color: index.$darkMode_text_color;
      background-color: index.$darkMode_border_color;
      opacity: 0.2;
      transition: 0.1s ease-in-out;

      &:hover {
        opacity: 0.5;
      }

      &:active {
        opacity: 0.5;
      }
    }
  }

  .headerAndOutletPart {
    flex-grow: 1;

    .headerPart {
      height: $headerHeight;
    }

    .outletPart {
      height: calc(100vh - $headerHeight);
      overflow: auto;
      padding: 20px;
    }
  }
}

// light mode
#lightMode {
  background-color: index.$lightMode_part_bg_color;
  color: index.$lightMode_text_color;

  .sidebarPart {
    border-color: index.$lightMode_border_color;
  }

  .headerAndOutletPart {
    .headerPart {
      background-color: index.$lightMode_main_bg_color;
    }
  }
}

// dark mode
#darkMode {
  background-color: index.$darkMode_part_bg_color;
  color: index.$darkMode_text_color;

  .sidebarPart {
    border-color: index.$darkMode_border_color;
  }

  .headerAndOutletPart {
    .headerPart {
      background-color: index.$darkMode_main_bg_color;
    }
  }
}

@import "./lgBreakPoint";
@import "./mdBreakPoint";
