@use "../../../assets/styles/index.scss";

$sidebarWidth: 20%;
$headerHeight: 35vh;

.king {
  display: flex;
  overflow: hidden;
  height: 100dvh;

  .sidebarPart {
    border-right-width: 1px;
    border-right-style: solid;
    overflow-y: auto;
    overflow-x: hidden;
    width: $sidebarWidth;
  }

  .headerAndOutletPart {
    width: calc(100% - $sidebarWidth);

    .headerPart {
      height: $headerHeight;
    }

    .outletPart {
      height: calc(100vh - $headerHeight);
      overflow: auto;
      padding: 20px;
    }
  }
}

// light mode
#lightMode {
  background-color: index.$lightMode_part_bg_color;
  color: index.$lightMode_text_color;

  .sidebarPart {
    border-color: index.$lightMode_border_color;
  }

  .headerAndOutletPart {
    .headerPart {
      background-color: index.$lightMode_main_bg_color;
    }
  }
}

// dark mode
#darkMode {
  background-color: index.$darkMode_part_bg_color;
  color: index.$darkMode_text_color;

  .sidebarPart {
    border-color: index.$darkMode_border_color;
  }

  .headerAndOutletPart {
    .headerPart {
      background-color: index.$darkMode_main_bg_color;
    }
  }
}
