@use "../../../../../../assets/styles/index.scss";

.king {
  text-transform: capitalize;
  list-style: none;

  .disableItem,
  a {
    padding: 22px 10px;
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .disableItem,
  li {
    margin: 1px 0px;
  }

  .disableItem {
    opacity: 0.4;
  }

  li {
    a {
      text-decoration: none;
    }
  }
}

// light mode
#lightMode {
  li {
    a {
      color: index.$lightMode_text_color;

      &:hover {
        background-color: index.$lightMode_border_color;
      }
    }

    #chosenItem {
      background-color: index.$lightMode_border_color;
    }
  }
}

// dark mode
#darkMode {
  li {
    a {
      color: index.$darkMode_text_color;

      &:hover {
        background-color: index.$darkMode_border_color;
      }
    }

    #chosenItem {
      background-color: index.$darkMode_border_color;
    }
  }
}
