@use "../../../../assets/styles/index.scss";

.authForm {
  border-width: 1px;
  border-style: solid;
  padding: 20px;
  border-radius: 5px;
  width: 320px;

  input,
  button {
    border-radius: 8px;
  }

  .inputsContainer {
    margin-bottom: 22px;

    label {
      margin-bottom: 10px;
      display: block;
    }

    input {
      border-width: 1px;
      border-style: solid;
      width: 100%;
      padding: 8px;
      margin-bottom: 7px;

      &:focus {
        outline: 3px solid index.$green_accepted_color;
      }
    }

    .inputWithError {
      outline: 1px solid index.$red_error_color;

      &:focus {
        outline-color: index.$red_error_color;
      }
    }

    .passwordInput {
      position: relative;
    }

    .errMsgContainer,
    .greenErrMsgContainer {
      font-size: 0.8em;

      span {
        margin-right: 5px;
      }
    }

    .errMsgContainer {
      color: index.$red_error_color;
    }

    .greenErrMsgContainer {
      color: index.$green_accepted_color;
    }
  }

  .btnContainer {
    button {
      background-color: index.$green_accepted_color;
      border: 0px;
      font-size: 1em;
      cursor: pointer;
      transition: 0.1s ease-in-out;
      width: 100%;
      padding: 8px;

      &:hover {
        background-color: rgba(35, 134, 55, 0.8352941176);
      }
      &:active {
        background-color: rgba(35, 134, 55, 0.672);
      }
    }
  }
}

// light mode
#lightMode {
  border-color: index.$lightMode_border_color;
  background-color: index.$lightMode_part_bg_color;

  input,
  button {
    color: index.$lightMode_text_color;
  }

  .inputsContainer {
    input {
      background-color: index.$lightMode_main_bg_color;
      border-color: index.$lightMode_border_color;
    }
  }
}

// dark mode
#darkMode {
  border-color: index.$darkMode_border_color;
  background-color: index.$darkMode_part_bg_color;

  input,
  button {
    color: index.$darkMode_text_color;
  }

  .inputsContainer {
    input {
      background-color: index.$darkMode_main_bg_color;
      border-color: index.$darkMode_border_color;
    }
  }
}
