.king {
  display: flex;
  gap: 20px;
  height: 100%;
  overflow: auto;

  .addNewBtnAndCitiesListContainer {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 1px;
  }

  .weatherBoxContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-grow: 1;
    
    .weatherBox {
      flex-basis: 300px;
      flex-grow: 1;
      flex-shrink: 1;
    }
  }
}
