// dark mode colors
$darkMode_main_bg_color: #0d1117;
$darkMode_part_bg_color: #1a1e25;
$darkMode_border_color: #30363d;
$darkMode_text_color: rgb(255, 255, 255);
$darkMode_TasksBox_color: rgba(48, 54, 61, 0.192);
$darkMode_btn_color_neutral: rgba(255, 255, 255, 0.05);
$darkMode_btn_hover_neutral: rgba(255, 255, 255, 0.12);

// light mode colors
$lightMode_main_bg_color: #d5d9de;
$lightMode_part_bg_color: #e8ecf1;
$lightMode_border_color: #c1c6ca;
$lightMode_text_color: black;
$lightMode_TasksBox_color: rgba(255, 255, 255, 0.192);
$lightMode_btn_color_neutral: rgba(0, 0, 0, 0.05);
$lightMode_btn_hover_neutral: rgba(0, 0, 0, 0.12);

$btn_color_positive: linear-gradient(135deg, #4a90e2, #9013fe);
$btn_hover_positive: linear-gradient(135deg, #6ec6ff, #c471ed);
$btn_color_negative: linear-gradient(135deg, #f40e25, #7a0f2f);
$btn_hover_negative: linear-gradient(135deg, #ef3b4c, #9a1b45);
$input_focus_color: #9013fe;
$green_accepted_color: #238636;
$red_error_color: rgb(204, 6, 6);
$blue_color: rgb(51, 139, 246);
$modal_blur: blur(15px);

// break points
$breakpoint_xs: 360px; // موبایل خیلی کوچیک
$breakpoint_sm: 480px; // موبایل معمولی
$breakpoint_md: 768px; // تبلت
$breakpoint_lg: 1024px; // لپتاپ
$breakpoint_xl: 1280px; // دسکتاپ بزرگ

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
