@use "../../../../assets/styles/index.scss";

.king {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  backdrop-filter: index.$modal_blur;
  display: flex;
  justify-content: center;
  align-items: center;

  .AddNewTaskForm {
    padding: 30px;
    border-width: 1px;
    border-style: solid;
    width: 320px;
    position: relative;
    border-radius: 10px;

    .inputsAndSelectContainer {
      margin-bottom: 35px;

      input,
      .selectContainer select {
        padding: 8px;
        border-radius: 10px;
        border-width: 1px;
        border-style: solid;

        &:focus {
          outline: 2px solid index.$green_accepted_color;
        }
      }

      .inputsLabel {
        display: block;
        margin-bottom: 10px;
      }

      input {
        width: 100%;
      }

      input[type="date"] {
        cursor: text;
      }

      .selectContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        label {
          flex: 3;
        }

        select {
          flex: 1;
          text-align: center;
          cursor: pointer;
        }
      }
    }

    .addBtnContainer {
      display: flex;
      justify-content: center;
      margin-top: 35px;
      
      button {
        color: index.$darkMode_text_color;
        padding: 10px;
        width: 65%;
        border-radius: 20px;
        border: 0px;
        cursor: pointer;
        background-color: index.$green_accepted_color;
        font-size: 1em;
        transition: 0.1s ease-in-out;

        &:hover {
          background-color: rgba(35, 134, 55, 0.8352941176);
        }
        &:active {
          background-color: rgba(35, 134, 55, 0.672);
        }
      }
    }

    .cancelBtn {
      position: absolute;
      top: -25.2px;
      right: 20px;

      button {
        font-size: 1em;
        background: none;
        color: index.$red_error_color;
        border: 0px;
        border-width: 1px;
        border-style: solid;
        padding: 3px 40px;
        border-bottom: 0px;
        border-radius: 10px 10px 0px 0px;
        cursor: pointer;
        transition: 0.1s ease-in-out;

        &:hover {
          border-color: index.$red_error_color;
          background-color: rgba(204, 6, 6, 0.059);
          border-radius: 5px 5px 0px 0px;
        }
      }
    }
  }
}

// light mode
#lightMode {
  .AddNewTaskForm {
    background-color: index.$lightMode_main_bg_color;
    border-color: index.$lightMode_border_color;

    .inputsAndSelectContainer {
      input,
      .selectContainer select {
        background-color: index.$lightMode_part_bg_color;
        border-color: index.$lightMode_border_color;
        color: index.$lightMode_text_color;
      }
    }

    .cancelBtn {
      button {
        border-color: index.$lightMode_border_color;
      }
    }
  }
}

// dark mode
#darkMode {
  .AddNewTaskForm {
    background-color: index.$darkMode_main_bg_color;
    border-color: index.$darkMode_border_color;

    .inputsAndSelectContainer {
      input,
      .selectContainer select {
        background-color: index.$darkMode_part_bg_color;
        border-color: index.$darkMode_border_color;
        color: index.$darkMode_text_color;
      }
    }

    .cancelBtn {
      button {
        border-color: index.$darkMode_border_color;
      }
    }
  }
}
