@use "../../assets/styles/index.scss";

.king {
  background-color: #30363d55;
  width: 100%;
  border: 3px solid index.$darkMode_border_color;
  border-radius: 10px;
  padding: 23px;
  border-right: 0px;
  border-left: 0px;
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;

  .taskInfoContainer {
    .taskName {
      margin-bottom: 10px;
      font-size: 1.1em;
    }

    .taskDate {
      font-size: 0.9em;
      color: rgba(255, 255, 255, 0.482);
    }
  }

  .starAndBasketBtnContainer {
    position: absolute;
    top: 0px;
    right: 25px;
    display: flex;
    gap: 20px;
    align-items: flex-start;

    .trashBtn,
    .starBtn {
      font-size: 1.1em;
      padding: 8px 15px;
      border-width: 0px 3px 3px 3px;
      border-style: solid;
      border-color: index.$darkMode_border_color;
      border-end-start-radius: 10px;
      border-end-end-radius: 10px;
      background: none;
      color: index.$darkMode_text_color;
      transition: 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        padding: 13px 15px;
      }
    }

    .starBtn {
      &:hover {
        color: index.$blue_color;
        border-color: index.$blue_color;
      }
    }

    #turnedOnStar {
      color: index.$blue_color;
      padding: 18px 15px;
      border-color: index.$blue_color;
      background-color: rgba(51, 139, 246, 0.107);
    }

    .trashBtn {
      &:hover {
        color: index.$red_error_color;
        border-color: index.$red_error_color;
      }
    }
  }
}
