@use "../../../../../../../../assets/styles/index.scss";

li {
  .settingItem {
    padding: 22px 10px;
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
  }
}

// light mode
#lightMode {
  &.chosenItem {
    background-color: index.$lightMode_border_color;
  }

  .settingItem {
    &:hover {
      background-color: index.$lightMode_border_color;
    }
  }
}

// dark mode
#darkMode {
  &.chosenItem {
    background-color: index.$darkMode_border_color;
  }

  .settingItem {
    &:hover {
      background-color: index.$darkMode_border_color;
    }
  }
}
