// dark mode colors
$darkMode_main_bg_color: #0d1117;
$darkMode_part_bg_color: #1a1e25;
$darkMode_border_color: #30363d;
$darkMode_text_color: rgb(255, 255, 255);

// light mode colors
$lightMode_main_bg_color: #d5d9de;
$lightMode_part_bg_color: #e8ecf1;
$lightMode_border_color: #c1c6ca;
$lightMode_text_color: black;

$green_accepted_color: #238636;
$red_error_color: rgb(204, 6, 6);
$blue_color: rgb(51, 139, 246);
$modal_blur: blur(15px);

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
