@use "../../assets/styles/index.scss";

.king {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: index.$modal_blur;

  .modal {
    border-width: 2px;
    border-style: solid;
    padding: 30px;
    border-radius: 10px;
    width: 365px;
    font-size: 1.1em;

    .btnsContainer {
      display: flex;
      gap: 15px;
      margin-top: 35px;

      button {
        width: 100%;
        padding: 5px;
        border: 0px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.1s ease-in-out;
        text-transform: uppercase;
        background: none;
      }

      .yesBtn {
        border: 1px solid index.$green_accepted_color;
        background-color: rgba(35, 134, 55, 0.077);
      }

      .noBtn {
        border: 1px solid index.$red_error_color;
        background-color: rgba(204, 6, 6, 0.077);
      }
    }
  }
}

// light mode
#lightMode {
  .modal {
    border-color: index.$lightMode_border_color;
    background-color: index.$lightMode_part_bg_color;

    .btnsContainer {
      button {
        color: index.$lightMode_text_color;
      }

      .yesBtn {
        &:hover {
          background-color: index.$green_accepted_color;
        }
      }

      .noBtn {
        &:hover {
          background-color: index.$red_error_color;
        }
      }
    }
  }
}

// dark mode
#darkMode {
  .modal {
    border-color: index.$darkMode_border_color;
    background-color: index.$darkMode_part_bg_color;

    .btnsContainer {
      button {
        color: index.$darkMode_text_color;
      }

      .yesBtn {
        &:hover {
          background-color: index.$green_accepted_color;
        }
      }

      .noBtn {
        &:hover {
          background-color: index.$red_error_color;
        }
      }
    }
  }
}
