@use "../../assets/styles/index.scss";

$sidebarWidth: 20%;

.king {
  background-color: index.$darkMode_part_bg_color;
  display: flex;
  height: 100vh;
  color: index.$darkMode_text_color;

  .sidebarPart {
    border-right: 1px solid index.$darkMode_border_color;
    width: $sidebarWidth;
  }

  .headerAndOutletPart {
    width: calc(100% - $sidebarWidth);

    .headerPart {
      height: 35vh;
      background-color: index.$darkMode_main_bg_color;
    }
  }
}
